/* Classic ways*/
/* With using absolute and relative positon*/
/* the position of the child container relates to the position of the 
parent container, without that, the child container would relate
to the whole page */

/* 1. Way */

/* #parentContainer {
  position: relative;
}

#childContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

*/

/* 2. Way: using margin */
#parentContainer {
  position: relative;
}

#childContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
