/* Tag Selectors for the tags*/
/* Selector and the declaration block */
/* css property : color / value : green */
h1 {
  color: green;
  font-size: 48px;
  font-style: italic;
}

h2 {
  color: orange;
  text-align: left;
}

p {
  color: gray;
  font-weight: 200;
}

.superh1 {
  color: green;
  font-size: 32px;
  background-color: orange;
}
