/* a list of selectors */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  /* shorthand grey */
  color: #444;
}

/*Overwrites the former defined color */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

/* ID Selector */
#copyright {
  font-size: 16px;
}

/* Class Selector */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  color: #f7f7f7;
  /*width 5px, solid form, color : shorthand property */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/*Decendent Selector, selects child of footer
footer p {
  font-size: 16px;
}
/*

/* Nested Decendent Selector 
article header p {
  font-style: italic;
}
*/

/*
body{
  background-color: aquamarine;
}
*/
